 <h1>Welcome to <strong>QUIZ TIME</strong> <%= @user.firstname %></h1>
    <p>
      You have successfully completed the quiz at QUIZ TIME,
      you scored <%= @score %> out of 10.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>