<div class = "panel">
	<div class = "chose_subject">
		<h2><b><u>SELECT SUBJECT</u></b></h2>
    <%= link_to "Aptitude", displays_path(:value => "Aptitude"), :class => "link timer" %><br>
    <%= link_to "Reasoning", displays_path(:value => "Reasoning"), :class => "link timer" %><br>
    <%= link_to "Verbal Ability", displays_path(:value => "Verbal"), :class => "link timer" %>
  </div>
</div>