<div class="container">
	<div class="panel">
	  <center><h1><b><u>Your records of the following quizzes are </u></b></h1></center>
		<div class="records_container">
      <%= render 'records'%>
    </div>
	</div>
</div>
