<div class = "panel">
  <div class = "chose_subject">
    <h2>ADD QUESTIONS ON THE FOLLOWING TOPICS</h2>
    <%= link_to 'Aptitude', questions_path(:type => 'Aptitude'), :class => "link" %><br>
    <%= link_to 'Reasoning', questions_path(:type => 'Reasoning'), :class => "link"%><br>
    <%= link_to 'Verbal Ability', questions_path(:type => 'Verbal'), :class => "link"%>
  </div>
</div>
