// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel{
  margin-top:10px;
	margin-left: 12%;
  margin-right: 12%;
  font-family: times roman;
}

.chose_subject{
	text-align: center; 
	font-family: times roman;
}

.record_table tr,td,th{
	text-align: center; 
	width:5%
}

.error{
  font-size:3.5em;
  text-align: center;
  margin-top:150px;
}

.questions{
  font-size:1.4em;
}
