// Place all the styles related to the TakeTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th{
	font-size:1.35em;
}