// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home_page_text{
  margin-top: 100px;
	font-size: 10em;
  text-shadow: 5px 4px powderblue;
    font-family: times roman;
}

.image{
	height: 6%;
	width: 7%;
}